.App {
  text-align: center;
}
body{
  background-color: blanchedalmond;
}

li{
  background-color: azure;
}

.active {
  font-weight: bold;
  color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.table-container{
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

option{
  cursor: pointer;
  font-style: oblique;
}

button:hover {
  background-color: #0056b3;
}

ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 16px;
}

img{
  height: 500px;
}

table {
  border-collapse: separate;
  border-spacing: 0 0px;
  width: 80%;
}

th {
  background-color: #4287f5;
  color: white;
}

th,
td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

form{
  display: flex;
  justify-content: center;
  gap: 16px;
}

.underline{
  color: #007bff;
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
}

